.content {
    width: calc(100% - 240px);
    min-height: 100vh;
    background: #171719;
    position: absolute;
    top: 0;
    right: 0;

    margin: auto;
    box-sizing: border-box;

    .band-title-block {
        height: 250px;
        position: relative;

        &__bcg {
            height: 100%;
        }

        &__el {
            padding: 20px 60px;
            height: 100%;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;

            &__img {
                width: 100px;
                height: 100px;
                margin-right: 40px;
                display: flex;
                align-items: center;

                &-el {
                    width: 100%;
                }
            }

            &__album-title {
                font-weight: 700;
                font-size: 35px;
            }
        }
    }
}

.play-list {
    padding: 50px 60px 120px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    &__el {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        height: 60px;
        cursor: pointer;
        align-items: center;
        opacity: 0.9;
        transition: 0.2s;

        &:hover {
            opacity: 1;
            background: #fcfcfc15;
        }
    }

    &__img {
        width: 65px;
        display: flex;
        align-items: center;

        &-el {
            width: 100%;

        }
    }

    &__duration {
        display: flex;
        justify-content: end;
    }

    &__album {
        display: flex;
        justify-content: end;
    }

    &__band {
        display: flex;
        justify-content: end;
    }
}